@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/*NAVBAR*/
.container {
    height: 10%;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.navbar {
    background: rgb(23, 23, 24);
    width: 100%;
}

.nav-header span {
    color: rgb(72, 202, 235);
}
  
.nav-header {
    display: flex;
    justify-content: space-between;
}

.nav-toggle {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 1.7rem;
}

/*FORM*/
.form-container {
    display: flex;
    justify-content: center;
    border:solid 6px white;
    border-radius: 6px;
    padding: 20px;
 }
 
 .form-container form .title {
     font-size: 35px;
     font-weight: 700;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 .form-container form .user-details{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
 }
 
 .user-details .input-box {
    padding: 10px 0;
    width: 100%;
 }
 
 .input-box label {
     font-size: x-large;
 }
 .input-box input {
     height: 45px;
     margin: 10px 0;
     width: 100%;
     outline: none;
     border-radius: 5px;
     border: 2px solid whitesmoke;
     font-size: 16px;
 }

 form .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form .buttons input {
    width: 100%;
    background: #1f53c5;
    color: aliceblue;
    border: none;
    padding: 15px;
    margin-top: 25px;
    font-size: 25px;
    border-radius: 5px;
}
.hiddenError {
    display: none;
}
.input-box p{
    font-size: medium;
    color: red;
    margin-top: 0%;
}



footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-top: 10px;

}